[Unit]
Description=SYNC Web UI
After=network.target

[Service]
Environment=DISPLAY=:0.0
WorkingDirectory=/home/pi/sync/
User=pi
ExecStart=/usr/bin/python /home/pi/sync/server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
