<body>
  <style>
    body{
    background-color:#000; 
    }
  img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  </style>
  	<div>
  		<img src="/static/img/publicize_large.png">
  	</div>
</body>  
  
</html>
